<div class="pt-5 pb-5">
  <h2 class="text-center">About Me You ask ?</h2>
  <hr />
  <div class="d-flex flex-row">
    <!-- image is taken form the website https://www.reddit.com/r/Sekiro/comments/bfjv71/my_sekiro_fan_art_traditionaldigital_mixed_medium/  -->
    <img
      src="./../../assets/sekiro.jpg"
      alt="sekiro-img"
      class=""
      height="1200px"
      width="auto"
    />
    <div class="text-center p-5 ml-5 mr-5 mx-auto" style="width: 1000px">
      <div class="text-center">
        <p>
          In the realm of coding, I, a devoted student of computer programming
          and a bachelor in electrical engineering, have embarked upon a journey
          that intertwines my passion for back-end development with the majestic
          arts of the digital realm. With a steadfast command over a multitude
          of technologies, I shape the very fabric of the web, breathing life
          into my creations with the incantations of Java, C#, HTML, CSS,
          JavaScript, SQL, and PHP.
        </p>
        <p>
          Like a skilled samurai, I wield the blade of Transact-SQL, slicing
          through intricate data structures and orchestrating the harmonious
          symphony of information flow. Node.js, a powerful ally in my arsenal,
          empowers me to craft software applications that transcend limitations,
          while Neovim, Visual Studio, and VS Code stand as my trusted
          companions, assisting me in the pursuit of perfection.
        </p>
        <p>
          Gazing towards the azure skies, I harness the might of Azure, an
          ethereal force that propels my applications to the highest realms of
          performance and scalability. Guided by the wisdom of IntelliJ IDEA and
          Android Studio, I traverse the landscapes of mobile development,
          shaping immersive experiences that captivate the senses.
        </p>
        <p>
          With Postman and Jira as my navigational tools, I chart a course
          through the treacherous waters of API testing and project management,
          ensuring smooth sailing for every endeavor. And through it all, the
          rhythmic dance of version control pulses within me, as Git enables me
          to weave a tapestry of collaboration and code refinement.
        </p>
        <p>
          Frameworks, like the branches of a sacred tree, provide structure and
          support to my creations. The ASP.NET MVC framework empowers me to
          build robust web applications, while React and Express form the
          bedrock of captivating user interfaces and dynamic server-side
          functionality. Selenium, a guardian of quality, helps me guard against
          the perils of regression, ensuring that every line of code I conjure
          holds steadfast to the highest standards.
        </p>
        <p>
          In this grand tapestry of technology, I stand as a determined warrior,
          wielding the knowledge and skills of a full-stack developer. With my
          blades sharpened and my resolve unwavering, I embrace the challenges
          that lie ahead, ready to conquer the unknown and emerge triumphant.
        </p>
      </div>
    </div>
  </div>
</div>
