<div class="text-center">
  <h3>Projects</h3>
  <hr />
  <div *ngFor="let project of projectCard" class="d-flex flex-row projectCard justify-content-center p-3 m-3">
    <div>
      <div class="card view overlay zoom" style="width: 10rem">
        <a href="{{ project.url }}">
          <img
            class="img-fluid"
            height="300px"
            src="{{ project.img }}"
            alt="Card image cap"
          />
          <div class="card-body mask flex-center">
            <p class="card-title text-dark">{{ project.name }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
